<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
    <%= link_to 'New Collaborator', new_collaborator_path, class: 'button is-link is-medium is-fullwidth' %>
<% end %>

<br>  
  <p class="title">Collaborators</p>
<br>

<tbody>
  <% @collaborators.each do |collaborator|%>
    <div class="card">
      <div class="card-image">
        <figure class="image is-rounded is-128x128" style="margin: 0 auto;">
            <%= link_to (image_tag collaborator.featured_image, class: 'is-rounded'), collaborator %>
        </figure>
        </div>
        <div class="card-content">
        <div class="media">
            <div class="media-content">
              <a href="<%= collaborator_path(id: collaborator.id) %>"><p class="title"><%= collaborator.name %></p></a>
              <p class="subtitle is-5"><%= collaborator.institution %></p>
            </div>
        </div>
      </div>
    </div>
  <% end %>
</tbody>

