<p id="notice"><%= notice %></p>

</p>
  <br><br>

  <figure class="image is-256x256" style="margin: 0 auto;">
    <%= image_tag @collaborator.featured_image, class: 'is-rounded' %>
  </figure><br>

  <div id='bloco_do_artigo' class='container is-max-desktop'>
    <section id='corpo_do_artigo'>
      <div class="columns">
        <div class="column">
          <a href="<%= @collaborator.link %>"><p class="title"><%= @collaborator.name %></p></a>

          <p class="subtitle">Institution: (<%= @collaborator.institution %>)<br>Email: (<%= @collaborator.email %>)<br></p>
        </div>
      </div>
    </section>
  </div>

  <br><br>

<div class="field has-addons" id='botao_show_bot'>
    <div class="control">
      <%= (link_to 'Edit', edit_collaborator_path(@collaborator), class: 'button is-link') if user_signed_in? %>
    </div>
    <div class="control">
      <%= link_to 'Back', collaborator_path, class: 'button is-link is-light is-larger' %>
    </div>
    <div class="control">
      <%= (link_to 'Delete', @collaborator, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-link is-danger') if user_signed_in? %>
    </div>
</div>