<p id="notice"><%= notice %></p>

<p class='title'>All Contacts</p>


<% @contacts.each_slice(4) do |contacts| %>
    <div class="columns">
        <% contacts.each do |contact| %>
          <div class="column">
            <div class="card">
              <div class="card-content">
              <div class="media">
                  <div class="media-content">
                      <a href="<%= "/contacts/show/#{contact[:id]}" %>"><p class="title"><%= contact.subject %></p></a>
                      <p class="subtitle">Name: <%= contact.name %> <br>Date: <%= contact.created_at %></p>
                  </div>
              </div>
              </div>
            </div>
          </div>
        <% end %>
    </div>
<% end %>

