<p id="notice"><%= notice %></p>

</p>
  <br><br>

  <div id='bloco_do_artigo' class='container is-max-desktop'>
    <section id='corpo_do_artigo'>
      <div class="columns">
        <div class="column">
          <p class="title"><%= @contact.subject %></p>
          <p class="subtitle">Name: <%= @contact.name %><br>Email: <%= @contact.email %></p>
        </div>
      </div>

      <br>
        <div class="container is-max-desktop"> <%= @contact.message %> </div>
      <div class="columns">
      </div>
    </section>
  </div>

  <br><br>


<div class="field has-addons" id='botao_show_bot'>
    <div class="control">
      <%= link_to 'Back', contacts_show_all_path, class: 'button is-link is-light is-larger' %>
    </div>
    <div class="control">
      <%= (link_to 'Delete', "/contacts/destroy/#{@contact[:id]}", method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-link is-danger') if user_signed_in? %>
    </div>
</div>
