<% if user_signed_in? %>
    <%= link_to 'New Noticium', new_noticium_path, class: 'button is-link is-medium is-fullwidth' %>
<% end %>

  <tbody>
  
    <br>  
    <p class="title">Publications</p>
    <br>

    <% @noticia.each do |noticium| %>
      <div class="columns">
        <div class="column is-four-fifths">
          <div class="card">
            <div class="card-image">
              <figure class="image is-full is-marginless is-3by1">
                <%= (link_to (image_tag noticium.featured_image), noticium) unless noticium.featured_image == nil %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <a href="<%= noticium_path(id: noticium.id) %>"><h1 class="title is-4"><%= noticium.author %></h1></a>
                </div>
              </div>
              <p>Autor: <%= noticium.author %> - <%= noticium.created_at.strftime("%d/%m/%Y") %></p>
            </div>
          </div>
        </div>
      </div>
<% end %>
