<%= form_with(model: member) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
        <% member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='container is-max-desktop' id="foto_do_membro">
    <figure class="image is-256x256">
      <%= (image_tag member.featured_image, class: "is-round") if member.featured_image.attached? %>
    </figure>
  </div>
  <div class="file" style='justify-content:center;'>
    <label class="file-label">
      <%= form.file_field :featured_image, class: 'file-input' %>
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          <%= "Choose a square featured image" %>
        </span>
      </span>
    </label>
  </div>



  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :schooling %>
    <%= form.text_field :schooling %>
  </div>

  <div class="field">
    <%= form.label :profession %>
    <%= form.select :profession, ["Teacher", "Students", "Past Members"] %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label 'About', class: 'label' %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit 'Create', class: 'button is-link' %>
    </div>
    <div class="control">
      <%= link_to 'Back', members_path, class: 'button is-link is-light' %>
    </div>
  </div>

<% end %>