<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
    <%= link_to 'New Member', new_member_path, class: 'button is-link is-medium is-fullwidth' %>
<% end %>


  <section class="hero is-link is-small">
    <div class="hero-body">
      <h1 class="title">
        Members
      </h1>
        <% unless @members.where("profession = 'Teacher'").empty? %>
          <p class="subtitle">
           Teacher
          </p>
        <% end %>
    </div>
  </section>


<% @members.where("profession ='Teacher'").each_slice(4) do |members| %>
    <div class="columns">
        <% members.each do |member| %>
        <div class="column">
          <%= render 'show_index', member: member %>
        </div>
        <% end %>
    </div>
<% end %>

<% unless @members.where("profession = 'Students'").empty? %>
  <section class="hero is-link is-small">
    <div class="hero-body">
      <h1 class="title">
      </h1>
      <p class="subtitle">
        Students
      </p>
    </div>
  </section>
<% end %>

<% @members.where("profession = 'Students'").each_slice(4) do |members| %>
    <div class="columns">
        <% members.each do |member| %>
        <div class="column">
          <%= render 'show_index', member: member %>
        </div>
        <% end %>
    </div>
<% end %>

<% unless @members.where("profession = 'Past Members'").empty? %>
  <section class="hero is-link is-small">
    <div class="hero-body">
      <h1 class="title">
      </h1>
      <p class="subtitle">
        Past Members
      </p>
    </div>
  </section>
<% end %>

<% @members.where("profession = 'Past Members'").each_slice(4) do |members| %>
    <div class="columns">
        <% members.each do |member| %>
        <div class="column">
          <%= render 'show_index', member: member %>
        </div>
        <% end %>
    </div>
<% end %>

